*.pyc
*.py~
.DS_Store
conf.py
latest_updates.json
.wnf-lang-status
*.egg-info
dist/
erpnext/public/dist
erpnext/docs/current
*.swp
*.swo
__pycache__
*~
.idea/
.vscode/
.helix/
node_modules/
.backportrc.json
# Aider AI Chat
.aider*
# Ignore heavy backup blobs
backups/**/*.gz
backups/**/*.tar
backups/**/*.zip

# Optional: ignore full folder dumps
backups/**/full_backup_*/

